@font-face {
  font-family: "VeronaSerial";
  src: url("/fonts/VeronaSerial/font.woff2") format("woff2"),
    url("/fonts/VeronaSerial/font.woff") format("woff");
}

:root {
  --color-primary: #975e00;
  --color-secondary: #e7e1d8;
  --color-text: #332f2f;
  --color-background: #f3eee4;
  --font-size--base-lg: 125%;
  --font-weight--bold: 700;
  --font-weight--regular: 400;
  --font-family--headings: "VeronaSerial", "Georgia", serif;
  --font-family--body: "Nunito Sans", "Georgia", serif;
  --text-measure: 60ch;
}

@media (min-width: 960px) {
  :root {
    /* ↓ Upscale by 25% at 960px */
    font-size: var(--font-size--base-lg);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  max-width: var(--text-measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family--body);
}

body {
  font-size: var(--font-size--base);
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  background-color: var(--color-background);
  color: var(--color-text);
}

body > * {
  width: 100%;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  font-family: var(--font-family--headings);
}

main,
footer {
  max-width: 42rem;
  max-width: var(--text-measure);
  margin-left: auto;
  margin-right: auto;
}

p,
pre,
code {
  line-height: 1.5;
}

a[href],
a[href]:visited {
  color: var(--color-primary);
}

a[href]:not(:hover) {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family--headings);
  font-weight: var(--font-weight--regular);
}

h1 {
  font-size: 2.5rem;
}

h1 {
  font-size: 3rem;
}

header,
main,
footer {
  padding: 2rem;
}

main {
  padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
  margin-top: 0;
}

pre {
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
}

/* Header Logo (style as h2) */
header > em {
  display: block;
  font-size: 1.5rem;
  margin: 0.67em 0;
  font-style: normal;
  flex: 1 0 17ch;
}
header > em > a[href],
header > em > a[href]:visited {
  color: var(--color-text);
}

/* Header Nav */
header nav ul {
  padding: 0;
  list-style: none;
}

header nav ul :first-child {
  margin-left: 0;
}

header nav li {
  display: inline-block;
  margin: 0 0.25em;
}

header nav li a {
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  opacity: 0.8;
}

header nav li a[href]:not(:hover) {
  text-decoration: none;
}

header nav li a[href]:hover,
header nav li a[data-current="current item"] {
  opacity: 1;
}

/* Posts List */
article {
  /* margin-bottom: 1.75em; */
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
  border-bottom: 1px solid var(--color-secondary);
}

article + article {
  margin-top: 1.75em;
}

main > section > article > * {
  margin-top: 0;
  margin-bottom: 0.5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.625em;
  padding: 0 0.5em;
  line-height: 2em;
  height: 2em;
  border: 1px solid var(--color-secondary);
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 0.25em;
  text-decoration: none;
  margin: 0 0.5em 0.5em 0;
}

a[rel="tag"]:hover {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

a[rel="tag"]:last-child {
  margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
  padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
  font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
  border: 1px solid black;
}

button {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-secondary);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 1.1rem;
  }
}

.u-full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.u-full-bleed * {
  width: 100%;
  max-width: 100%;
}
