/* @font-face {
  font-family: "VeronaSerial";
  src: url("/fonts/VeronaSerial/font.woff2") format("woff2"),
    url("/fonts/VeronaSerial/font.woff") format("woff");
} */

:root {
  --color-primary: #7c4d00;
  --color-secondary: #e7e1d8;
  --color-text: #262535;
  --color-text--inverse: #ffffff;
  --color-background: #f3eee4;

  --font-size--base: 1rem;
  --font-size--base-lg: 125%;
  --font-weight--bold: 600;
  --font-weight--regular: 400;
  --font-family--headings: "Domine", "Georgia", serif;
  --font-family--body: "Source Sans Pro", sans-serif;
  --text-measure: 70ch;

  /* modular scale */
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #b78739;
    --color-secondary: #3a3a3a;
    --color-text: #b3b3b3;
    --color-text--inverse: #242120;
    --color-background: #242120;
  }
}

@media (min-width: 960px) {
  :root {
    /* ↓ Upscale by 25% at 960px */
    font-size: var(--font-size--base-lg);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  max-width: var(--text-measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: var(--font-size--base);
  font-family: var(--font-family--body);
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: var(--color-background);
  color: var(--color-text);
}

body > * {
  width: 100%;
}

header,
main,
footer {
  padding: var(--s1);
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  font-family: var(--font-family--headings);
}

main,
footer {
  max-width: var(--text-measure);
  margin-left: auto;
  margin-right: auto;
}

main {
  padding-bottom: var(--s2);
}

main :first-child,
main > article :first-child {
  margin-top: 0;
}

p,
pre,
code {
  line-height: var(--s1);
}

a[href],
a[href]:visited {
  color: var(--color-primary);
}

a[href]:not(:hover) {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family--headings);
  font-weight: var(--font-weight--regular);
  line-height: 1.2;
}

h1 {
  font-size: clamp(1.8rem, 6vw, 3rem);
  margin-top: var(--s3);
  margin-bottom: var(--s1);
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  margin-top: var(--s2);
}

pre {
  font-size: 0.7rem;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: var(--s0);
  margin: 0.5em 0;
}

/* Header Logo (style as h2) */
.site-title {
  display: block;
  font-size: 1.5rem;
  margin: 0.67em 0;
  font-style: normal;
  flex: 1 0 17ch;
  max-width: unset;
}
.site-title > a[href],
.site-title > a[href]:visited {
  color: var(--color-text);
}

/* Header Nav */
header nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: var(--s1);
}

header nav li a {
  opacity: 0.8;
}

header nav li a[href]:not(:hover) {
  text-decoration: none;
}

header nav li a[href]:hover,
header nav li a[data-current="current item"] {
  opacity: 1;
}

/* Posts List */
article {
  padding-bottom: var(--s-1);
  border-bottom: 1px solid var(--color-secondary);
}

article + article {
  margin-top: var(--s1);
}

main > section > article > * {
  margin-top: 0;
  margin-bottom: 0.5em;
}

article + nav {
  margin-block-start: var(--s0);
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.625em;
  padding: 0 0.5em;
  line-height: var(--s1);
  height: var(--s1);
  border: 1px solid var(--color-secondary);
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 0.25em;
  text-decoration: none;
  margin: 0 0.5em 0.5em 0;
}

a[rel="tag"]:hover {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

a[rel="tag"]:last-child {
  margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
  padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: var(--s-2);
  margin-bottom: var(--s-2);
  font-size: var(--font-size--base);
  font-family: var(--font-family--body);
}

input,
textarea {
  border: 1px solid black;
}

button {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-text--inverse);
  cursor: pointer;
}

.form--search {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--s-2);
}

.u-full-bleed {
  width: 100vw;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.u-full-bleed * {
  width: 100%;
  max-width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

footer nav ul {
  padding: 0;
  margin: 0;
  margin-block-start: var(--s-1);
  list-style: none;
  display: flex;
  gap: var(--s1);
}