<footer>
  <small>© {% currentBuildYear %}</small>
  <nav>
    <ul>
      <li>
        <a href="/contact">About</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
      <li>
        <a href="/feed/feed.xml">RSS</a>
      </li>
      <li>
        <a href="https://cloud.umami.is/share/3x3pkKqK6a1cLrGF">Site stats</a>
      </li>
    </ul>
  </nav>
</footer>