<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<em class="site-title">
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ content | safe }}
		</main>

		{% include "components/footer.njk" %}

		{% js %}
		{% include "assets/js/inline.js" %}
		{% endjs %}

		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>

</html>