---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
<h1>{{ title }}</h1>

{{ content | safe }}

<form class="form--search" action="https://google.com/search" method="get">
  <input type="hidden" name="sitesearch" value="{{ metadata.url }}" />
  <input type="search" name="q" placeholder="Search site with Google" />
  <button type="submit">Search</button>
</form>

{% set postslist = collections.post %}
{% include "components/postslist.njk" %}
