---
layout: layouts/base.njk
section: home
numberOfLatestPostsToShow: 3
---

<div class="stack-s4">

  <div class="banner">

    <div class="banner_text">
      <h1>A heritage built on faith, love and commitment</h1>

      <p>We are descendants of Samuel Harper (1881-1957) of Kilkenny, Ireland. Discover our story, share our passions, and be part of the family.</p>

      <a href="/about" class="btn">About the Harper Family</a>
    </div>

    {% image "./static/uploads/harper-family-2013.jpg", "formal group photo of over 200 Harpers", "100vw" %}

  </div>

  {{ layoutContent | safe }}

  {% include "components/latestposts.njk" %}

  <h2>Popular tags</h2>
  <div class="featured-taglist">
    <a href="/tags/events/" rel="tag">Events</a>
    <a href="/tags/food/" rel="tag">Food</a>
    <a href="/tags/video/" rel="tag">History</a>
    <a href="/tags/art/" rel="tag">Art</a>
    <a href="/tags/2020-reunion/" rel="tag">2020 Reunion</a>
    <a href="/tags/2020-reunion/" rel="tag">2013 Reunion</a>
    <a href="/tags/2020-reunion/" rel="tag">2006 Reunion</a>
    <a href="/tags/2020-reunion/" rel="tag">1990 Reunion</a>
  </div>

  <h2>Media</h2>
  <div class="featured-taglist">
    <a href="/tags/photos/" rel="tag">Photos</a>
    <a href="/tags/video/" rel="tag">Video</a>
    <a href="/tags/audio/" rel="tag">Audio</a>
    <a href="/tags/letters/" rel="tag">Letters</a>
  </div>

  {% include "components/subscribe.njk" %}

</div>